@import 'variables';

.options
span.tooltiptext{
  position: relative;
  top:0px;
}
p{
  position: absolute;
    left: -10px;
    font-size: 1.3em;
    text-align: center;
    display: none;

}

button.btn-outline-info{
  box-shadow: 0 3px 0 0 $shadow;
  background-color:$primary;
  min-width: 260px;
  font-size: 2em;
  padding:{
    top:5px;
    bottom: 5px;
  }
  margin:{
    top:$margin-button;
    bottom: $margin-button;
  }
  border: 1px solid $primary-complementary;
  &:hover {
      background: lighten($primary-complementary, 10%);
  }
  &:active {
    background: darken($primary-complementary, 10%);
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: $margin-button + 3px;
  }
  @media screen and (max-width: $break-small) {
  font-size: 1em;
  min-width: 160px;
  }

  div{
    display: none;

    height: 3px;
    line-height: 22px;
    width: 100%;
    background-color: #0099ff;
  }
}
