//Fonts
$artistic: 'Amatic SC', cursive;
$scary: 'Permanent Marker', cursive;
$pixelated: 'VT323', monospace;

//Colors
$color1: #99ece9;
$color2: #505050;
$color3: #fcf7d9;
$color4: #9BD7D5;
$color5: #FF7260;


$primary: $color1;
$secondary: $color5;
$primary-complementary:$color4;
$font-colour: $color2;
$background: $color3;
$shadow: #007299;

//Button styling
$margin-button: 5px;

//Media queries
$break-small:400px;
